<p id="notice"><%= notice %></p>

<p>
  <strong>Info:</strong>
  <%= @sub_element.info %>
</p>

<p>
  <strong>Element:</strong>
  <%= @sub_element.element %>
</p>

<%= link_to 'Edit', edit_sub_element_path(@sub_element) %> |
<%= link_to 'Back', sub_elements_path %>
