<p id="notice"><%= notice %></p>

<p>
  <strong>Info:</strong>
  <%= @element.info %>
</p>

<p>
  <strong>Slide:</strong>
  <%= @element.slide %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
