<%= form_with(model: attribute, local: true) do |form| %>
  <% if attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attribute.errors.count, "error") %> prohibited this attribute from being saved:</h2>

      <ul>
      <% attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :attribute_name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :attribute_type %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :attribute_order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
