<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attribute.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @attribute.type %>
</p>

<p>
  <strong>Order:</strong>
  <%= @attribute.order %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
